{%extends "base.html"%}

{%block content%}

<div id="content">
			<!-- table -->
			<div class="box">
				<!-- box / title -->
				<div class="title">
					<h5>采用类型查看</h5>
					<div class="search">
						<form action="#" method="post">
							<div class="input">
								<input type="text" id="search" name="search" />
							</div>
							<div class="button">
								<input type="submit" name="submit" value="搜索" />
							</div>
						</form>
					</div>
				</div>
				<!-- end box / title -->
				<div class="table">
					<form action="" method="post">
					<table>
						<thead>
							<tr>
								<th>采用形式</th>
								<th>采用类型</th>							
								<th>操作</th>								
							</tr>
						</thead>
						<tbody>
						    {%for d in data %}
							<tr>
								<td class="w3 center">{{d.atype}}</td>
								<td class="w3 center">{{d.name}}</td>						
								<td class="w1 center"><a href="{{dv.url("atype","edit",{'id':d.id})}}">修改</a> <a href="{{dv.url("atype","delete",{'id':d.id})}}">删除</a></td>				
							</tr>
							{%endfor%}
						</tbody>
					</table>
					<!-- pagination -->
					<div class="pagination pagination-left">
						<div class="results">
							<span>显示 {{min}}-{{max}} 总记录数： {{rcc}}</span>
						</div>
						<ul class="pager">							
							{{page|raw}}
							<li class="separator">...</li>							
						</ul>
					</div>
					<!-- end pagination -->								
				</div>
			</div>
			<!-- end table -->


{%endblock%}
