{%extends "base.html"%}

{%block content%}


<table width="900" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="36" align="center" style="background:#f2f2f2;" class="p14cuohuong">报送信息统计</td>
          </tr>
        </table> 
          <table width="900" border="0" cellspacing="0" cellpadding="0" style="border:1px #999 solid;">
          <tr>
            <td height="32" align="center" class="p12hong" style="border-bottom:1px #999 dashed; border-right:1px #CCC solid;">部门 </td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">发布总数</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">采用总数</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">--</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">人防新闻</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">防空防灾</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">交流研讨</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">人防风采</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">艺苑天地</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">今日话题</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">动漫影像</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">决策参考</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">政务公开</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">人防协会</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">人事信息</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">资质查询</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">成果推介</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">避难疏散</td>
                        
            </tr>
            {%for d in data %}
          <tr>
            <td align="center" class="p12hei2" style="border-bottom:1px #999 solid; border-right:1px #CCC solid;"> {{d.name}} </td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.sendnum}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.anum}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">-</td>

            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy1}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy2}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy3}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy4}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy5}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy6}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy7}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy8}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy9}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy10}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy11}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy12}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy13}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.cy14}}</td>
            </tr>


            {%endfor%}

          <tr>
            <td align="center" class="p12hei2" style="border-bottom:1px #999 solid; border-right:1px #CCC solid;" colspan="2">
                     <ul class="pager">{{page|raw}}</ul>       
            </td> 
          </tr>              
        </table>

{%endblock%}
