{%extends "base.html"%}

{%block content%}
<div id="content">
	<div class="box"> 
		<!-- box / title -->
		<div class="title">
			<h5>政务公开分类编辑</h5>
		</div>
		<!-- end box / title -->
		<form id="form" action="" method="post">
			<div class="form">
				<div class="fields">
					<div class="field">
						<div class="label">
							<label for="name">分类名</label>
						</div>
						<div class="input">
							<input type="hidden" name="id" value="{{data.id}}" />
							<input type="input" class="medium" name="name" value="{{data.name}}"/>
						</div>
					</div>					
					<div class="buttons">
						<div class="highlight">
							<input type="submit" name="submit" value="提交" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
						</div>
						<input type="reset" name="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{%endblock%} 