{%extends "base.html"%}

{%block content%}


		<table width="817" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="36" align="center" style="background:#f2f2f2;" class="p14cuohuong">信息检索</td>
          </tr>
        </table>
		<form action="index.php?cmd=search&a=index" method="post">
		<table width="817" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="35" align="center" bgcolor="#fff" class="p14cuohuong">标题关键词： <input type="text" size="50" name="q" /></td>
          </tr>
		  <tr>
            <td height="35" align="center" bgcolor="#fff" class="p14cuohuong">
				<input type="submit" value="搜索" />
			</td>
          </tr>		  
        </table>
		</form>
          
		  
       
		
		




{%endblock%}
