{%extends "base.html"%}

{%block content%}


<table width="817" border="0" cellspacing="0" cellpadding="0">
    <tr>
            <td height="36" align="center" style="background:#f2f2f2;"  class="p14cuohuong">用户管理</td>
    </tr>
</table>
 <!--  
<table width="817" border="0" cellspacing="0" cellpadding="0">
    <tr>
            <td height="36" align="center" bgcolor="#ffd3d3" class="p14cuohuong">
                 <a href="{{dv.url("user","add")}}" class="p14cuohuong" style="color: #900;">添加用户</a>  
            </td>
    </tr>
</table>
-->


<table width="817" border="0" cellspacing="0" cellpadding="0" style="border:1px #999 solid;">
          <tr>
            <td height="32" align="center" class="p12hong" style="border-bottom:1px #999 solid; border-right:1px #CCC solid;">用户管理</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">部门管理</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">组别管理</td>
            <td align="center" class="p12hong"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">
             <a href="{{dv.url("user","add")}}" class="p14cuohuong" style="color: #900;">[添加用户]</a>  
            </td>
          </tr>
{%for d in data %}
          <tr>
            <td align="center" class="p12hei2" style="border-bottom:1px #999 solid; border-right:1px #CCC solid;">{{d.username}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.Department.name}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">{{d.Group.name}}</td>
            <td align="center" class="p12hei2"  style="border-bottom:1px #999 solid;border-right:1px #CCC solid;">
               <DIV align=center><a class=fontsize14 href="{{dv.url("user","edit",{'id':d.id})}}">[修改]</a> <a class=fontsize14 href="{{dv.url("user","delete",{'id':d.id})}}">[删除]</a></DIV>
            </td>
          </tr>          
{%endfor%}

<tr>
    <td align="center" class="p12hei2" colspan="4">
      <ul class="pager">{{page|raw}}</ul>       
    </td>
</tr>


        </table>

{%endblock%}
